<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Express looks for styles in a dir called public so no need to specify public explicitly here-->
    <link rel="stylesheet" href="/styles/app.css">
    <title>Cheese Doggie Website</title>
</head>
<body>
    
