<div id="navalicious" class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item">
            <a href="/"><i class="beer icon"></i></a>
            Evie's Blog
        </div> 
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New Post</a>
    </div>
</div>