<% include partials/header %>

<h1>Welcome to the Homepage!</h1> 
<h2>DA CHEESE DOGGIE IS HERE</h2>   
<img src="https://www.rover.com/blog/wp-content/uploads/2015/01/2898011398_c189efb85f_b.jpg" 
alt="Photo of a puppy eating cheese">

<% include partials/footer %>