
<h1>Welcome to the Posts Page!</h1>
<h2>View some blog posts by our illustrious writers...</h2>



<% for(let i = 0; i < posts.length; i++){ %>
    <li>
        <%= posts[i].title %> - <strong><%= posts[i].author %></strong> 
    </li> 
<% } %>

